.button {
  border: none;
  padding: 15px 20px;
  /* font-weight: bold; */
  margin: 10px;
  border-radius: 10px;
  background-color: #477dba;
  color: white;
  user-select: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 200px auto;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.container h1 {
  text-align: center;
  transition: transform 0.5s ease-in-out;
}
